@import '../../index.scss';

.listitem {
    border-bottom: 0.1px solid map-get($dark-theme , 'darkgrayishblue');
    color: map-get($dark-theme , 'lightgrayishblue' );
}

.listitem_light {
    border-bottom: 0.1px solid map-get($light-theme , 'lightgrayishblue');
    color: map-get($light-theme, 'verydarkgrayish' );
}

.input{
    position: absolute;
    opacity: 0;

 + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    width: 100%;

    + a { 
        padding-top: 7px;
        padding-right: 10px;
    }
}

 + label::before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align:bottom;
    width: 22px;
    height: 22px;
    background: transparent;
    margin-left: 20px;
    margin-right: 15px;
    border: 1px solid map-get($dark-theme , 'darkgrayishblue' );
    border-radius: 50%;
} 

&:hover + label::before  {
    background: map-get($primary , 'background');
}


&:checked + label::before {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../assets/icon-check.svg), map-get($primary , 'background');
}

}