@import '../../index.scss';

.footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
    color: map-get($dark-theme , 'darkgrayishblue' );

    > span {
        padding-top: 4px;
        font-size: 15px;
        padding-left: 18px;
    }

    > a {
        text-decoration: none;
        color: inherit;
        &:hover {
            color: map-get($dark-theme , $key: 'lightgrayishblueh-hover');
        }
    }
}


.listfooter {
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    gap: 20px;    
}