@import '../../index.scss';

.listitem {
    border-bottom: 0.1px solid map-get($dark-theme , 'darkgrayishblue');
}

.checkbox {
    color: map-get($dark-theme , 'lightgrayishblue');
    display: block;
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
}



.checkmark {
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: white;
}